html {
    font-family: "Gill Sans", sans-serif;
   height: 100%;
   width: 100%;
   background-repeat: no-repeat;
 background-image: url('okean-more-pliazh-bereg-vid-sverkhu.jpg') ;
 
 }
 .all {
    box-shadow: 0px 0px 10px black ;
 width: 870px;
 height: 600px;
 padding: 20px;
 margin: 0 auto;
}
h3 {
    color: rgb(240, 234, 209);
}
div {
    color:rgb(165, 165, 152) ;
}
.grid-name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
